---
 const personalImageAlt = "Jesus Emmanuel"
 import io1 from '@/components/img/io1.jpeg';
import io2 from '@/components/img/io7.jpeg';
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-sky-500 dark:[&>p>strong]:text-sky-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo <strong>Jesus Emmanuel Carballo C.</strong> pero mis amigos me llaman <strong>brok</strong> .Mi aventura comenzo 
      cuando entre a la universidad. Soy una persona tranquila y seguro, curioso por naturaleza, <strong
        >liderando proyectos de Software</strong
      >. Trabajo para mejorar la vida de mi familia .
    </p>

  </div>

  <img width="200" height="200" src={io2.src} alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

